<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.1/peerjs.min.js.map"></script>
    <script src="/js/mediasoup-client.js"></script>
    <script src="/js/socket.io.js"></script>

    <script>
        const roomId = "<%= roomId %>";
        const myName = "<%= user.first_name %>" + " " + "<%= user.last_name %>"
    </script>
</head>

<body class="showChat">
    <div class="main">
        <div class="main__left">
            <div class="main__videos postion-relative">
                <div id="video-grid"></div>
                <div class="toast-container position-absolute bottom-0 end-0">
                    <!--User connected-->
                    <div class="toast" role="alert" id="welcome" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body">

                        </div>
                    </div>

                    <div class="toast" role="alert" id="connected" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body">

                        </div>
                    </div>

                    <div class="toast" role="alert" id="disconnected" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body">

                        </div>
                    </div>

                    <div class="toast" id="locked" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body">

                        </div>
                    </div>
                    <div class="toast" id="error" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-body">
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__controls">
                <div class="main__controls_block">
                    <div class="main__controls_button" id="muteButton" onclick="muteUnmute()">
                        <i class="fa fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div class="main__controls_button" id="playPauseVideo" onclick="playStop()">
                        <i class="fa fa-video-camera"></i>
                        <span>Pause Video</span>
                    </div>
                </div>

                <div class="main__controls_block">
                    <div class="main__controls_button" id="stopRecording">
                        <i class="fa fa-shield"></i>
                        <span>Security</span>
                    </div>
                    <div class="main__controls_button" id="startRecording">
                        <i class="fa fa-play-circle-o"></i>
                        <span>Record</span>
                    </div>

                    <div class="main__controls_button" id="screenShare" onclick="screenShare()">
                        <i class="fa fa-tv"></i>
                        <span>Screen Share</span>
                    </div>
                    <div class="main__controls_button" id='participants' onclick="ShowParticipants(this)">
                        <i class="fa fa-users "></i>
                        <span>Participants</span>
                    </div>
                    <div class="main__controls_button" id="chat__Btn" onclick="ShowChat(this)">
                        <i class="fa fa-comment "></i>
                        <span>Chat</span>
                    </div>
                    <div class="main__controls_button" id="file__Btn" onclick="SendFiles(this)">
                        <i class="fa fa-file"></i>
                        <span>Send Files</span>
                    </div>
                    <div class="main__controls_button" id="lockButton">
                        <i class="unmute fa fa-unlock"></i>
                        <span>Unlocked</span>
                    </div>
                    <div class="main__controls_button" id="inviteButton">
                        <i class="fa fa-share"></i>
                        <span>Invite</span>
                    </div>
                    <div class="main__controls_button" id="joinButton">
                        <i class="fa fa-plus"></i>
                        <span>Join</span>
                    </div>
                </div>

                <div class="main__controls_block ">
                    <div class="main__controls_button leaveMeeting" id="leave_meeting">
                        <span class=" ">Leave Meeting</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="main__right">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link" id="chat" data-toggle="tab" href="#chat_window" role="tab" aria-controls="nav-home" aria-selected="true">Chat</a>
                    <a class="nav-link" id="participant" data-toggle="tab" href="#participants_window" role="tab" aria-controls="nav-profile" aria-selected="false">Participants</a>
                    <a class="nav-link" id="file" data-toggle="tab" href="#file_window " role="tab" aria-controls="nav-profile" aria-selected="false">Share File</a>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="chat_window" role="tabpanel" aria-labelledby="chat">
                    <div class="main__chat__window" id="main__chat__window">
                        <ul class="messages" id="all_messages"></ul>
                    </div>
                    <div class="main__message_container">
                        <input type="text" id="chat_message" placeholder="Type message here.." />
                    </div>
                </div>
                <div class="tab-pane fade" id="participants_window" role="tabpanel" aria-labelledby="participants">
                    <div class="main__participants__window" id="main__participants__window">
                        <ul class="messages" id="all_participants"></ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="file_window" role="tabpanel" aria-labelledby="participants ">
                    <div class="main__chat__window " id="main__file__window ">
                        <ul class="messages " id="all_files"></ul>
                    </div>
                    <div class="input-group mt-3 main_message_container">
                        <input class="form-control" type="file" onchange="selectfile(event)" id="formFile">
                        <button class="input-group-text" id="fileSubmit"><i class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="joinMeeting" data-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Admit User</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text " class="form-control " id="Name" placeholder="Enter Name">
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" id="okButton" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="/js/controls.js"></script>
    <script src="/js/mediasoupapp.js"></script>
    <script src="/js/room.js"></script>


</body>

</html>