<table class="table">
    <tbody>
        <tr>
            <th scope="row"> </th>
            <td>Rampravesh Yadav</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>rampraveshyadav24@gmail.com</td>
            <td><a href="#">Edit</a></td>
        </tr>
        <tr>
            <th scope="row">Username</th>
            <td>rp875638</td>
            <td><a href="#">Edit</a></td>
        </tr>
    </tbody>
</table>